/*
Theme Name: Klin v1
*/

* { margin:0; padding:0; border:0; }

body, html {
    width:100%;
    height:100%;
    font-family: "museo-sans", sans-serif;
    font-size: 13px;
    font-weight: 100;
    color:#3F5755;
    letter-spacing: 1px;
    background: #404040;
}

#preloader {  background:#fff; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 999999999999;}
#status { position: fixed; width:80px; height:80px; left:50%; top:50%; margin:-40px 0 0 -40px; background-image: url('img/logo.gif'); background-size: cover;}
a { color:#6D968E; }
a:hover { color:#3F5755; text-decoration: none; }

h1, h2, h3, h5 {
    font-family: "museo-sans-condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1 { font-size: 4em; letter-spacing: 4px; margin-bottom: 30px;}
h1 a { font-weight: 500; color:#fff; }
h1 a:hover { color:rgba(255,255,255,0.6); text-decoration: none; }
h4 { font-size:1.5em; font-weight: 100; color:#7DABA2; }
h6{ font-size:1em; font-weight: 500; }

button { font-size:1em;position: absolute; min-width: 50%; margin-left:-25%; bottom:40px; padding:10px 20px; background: #fff; color:#3F5755;}
button:hover { color:#fff; background: rgba(255,255,255,0.35); cursor: pointer; }
button.navi,
button.howit,
#coverage-map button { position: relative; background: #3F5755; color:#fff; width:200px !important; min-width: 0 !important;  margin:40px auto; left:auto; bottom:auto; padding:20px;}
.navi.sendprev,
.navi.optprev,
.navi.schdprev { background:#A4CEC2;}
.buttons-two,
.buttons-three { display:none; }
.buttons-one p,
.send p,
.buttons-two p,
.buttons-three p { text-align: center; }
.container-full { overflow-x: hidden; padding:0; margin:0; max-width: none; }
.row { position: relative; padding:0; margin:0;}
.row div { padding:0; margin:0; }

iframe { width:100%; height:400px; }

input[type="datepicker"],
input, textarea { width:100%; max-width:400px; padding:20px; color:#537670; background:rgba(255,255,255,0.9); text-align: center;}
textarea {height:200px;}

.cancel:hover,
.checkbox:hover {cursor:pointer; background:#A4CEC2}
.cancel { padding:20px !important; background:#fff; color:#537670; position: relative; width:calc(100% - 20px); max-width: 400px; margin:10px auto !important;}
.checkbox.border {background:#A4CEC2;}
.message { height:200px; display: none;}

.checkbox { height:50px; padding:0px !important; background:rgba(255,255,255,0.9); color:#537670; position: relative; width:calc(100% - 20px); max-width: 400px; margin:10px auto !important; font-weight: 100; cursor: pointer; }
.shrtscont .checkbox { height:75px !important;}
.lndrycont .checkbox { height:75px !important;}
.shrtscont .checkbox label,
.lndrycont .checkbox label { margin-top:0 !important;}
.send,
.pckcont,
.delcont,
.lndryshrtscont,
.shrtscont,
.lndrycont { display:none;}
/*.pck label, .del label, .shrts label, .lndry label { margin-top:0 !important; }*/
label { margin:20px !important; display:inline-block; font-weight: 100;}
label img { float:left; margin:0 !important; margin-right:20px;  }
label span { display: block; padding-top:20px;}
.checkbox label {min-height: 20px;
 padding-left: 0px; 
margin: 0;
font-weight: 400;
cursor: pointer;
width: calc(100% - 40px);}

input[type="checkbox"] {
    opacity:0;
line-height: normal;
display: inline-block;
width: 100%;
margin-left: 0 !important;
left: 0px;
top: 0;
bottom: 0;
right: 0;
height: 100% !important;

}
.map-full { display:none; position: fixed; top:0; right:0; bottom:0; left:0; background:rgba(255,255,255,0.9); z-index: 999999; padding-top:100px; }
.map-full .row { position: relative; padding:80px;}
.map-full input { border:1px solid #3F5755; color:#3F5755;}
.map-full .row img { max-width: 100%; }
.map-full .row .box { padding:40px;}
.map-full .row .box .inner { padding:20px; background:#A4CEC2;}

input[type="submit"],
input[type="reset"] { width:40%; width:200px !important; display:inline-block; background:#3F5755; color:#fff; }
input[type="submit"]:hover,
input[type="reset"]:hover {  background:#537670; color:#fff; }
header { width:100%; height:auto; background:rgba(255,255,255,0.6); position: absolute; z-index: 99999; top:0; }
header .row div { padding:20px 40px; }
.mobile header .row div { padding:10px 10px; }
header .row div.lft { padding-right:0; }
header .row div.rght { padding-left:0; }
header img { height:80px; float:left; margin-right: 30px; }
header nav { padding:30px 0 0; }
header nav ul {list-style: none; }
header nav ul li { display: inline-block; text-transform: uppercase;margin-right: 20px; }
header nav ul li a { color:#3F5755; font-weight: 500; letter-spacing: 2px;   }
    header nav ul li a:hover { color:#6D968E; cursor: pointer; text-decoration: none; }
header nav.contact { padding:0; }
header nav.contact ul { margin:30px 0 0 0; padding:0; }
header nav.contact ul li { margin:0 0 0 0px; }

header.sticky,
.mobile header { background-color:#fff; position: fixed; top:0; right:0; left:0; z-index: 99999999; display: none; border-bottom: 1px solid rgba(125, 171, 162, 0.25); }

header.sticky nav { padding:17px 0 0; }
header nav.menu div,
header.sticky nav.menu div { padding:0 0 0 0; margin:0;}
.mobile header .menu-btn {margin-top:10px;}
header.sticky img,
.mobile header img { height:50px; float:left; }
header.sticky .row div {padding:20px;}

header button { width:auto; min-width: none; float: none; position: relative; margin:26px 0 0 0; bottom:0; right:0; color:#fff; }
header button:hover { opacity: 0.8; }
header.sticky nav.contact { margin-top: -10px !important; }
header.sticky button { margin: 0px 0 0 0; }
section ul{ width:350px;  border-top: 2px solid #fff; margin:0 auto;  list-style: none; margin-top:40px; padding-top:40px; }
section li {  text-transform: uppercase; font-size: 1.5em; margin-bottom: 5px; }
section li div { width: 200px; display: inline-block; text-align: left;}
section li div.right { width:100px; display: inline-block; text-align: right;}

section {z-index: 999; position: relative; }
section#how-it-works-cont { width:100%;  padding-top:0px; color:#fff; }
section#how-it-works-cont .row { width:100% !important; padding:40px 60px; }



.message p,
.lndryshrtscont p,
section#how-it-works-cont p { margin-top:0px; margin-bottom: 0px; font-size:1.2em;}
.navi.sched {display:none;}
section#how-it-works-cont .details {display:none;}
section#how-it-works-cont .details p { margin-top:0px; margin-bottom: 10px; font-size:1em;}
section#how-it-works-cont #result { margin-top:10px; }
section#how-it-works-cont a { color:#fff;}
section#how-it-works-cont a:hover { color:#fff; text-decoration: underline; }
section#how-it-works-cont .row.how { margin-top:0px; margin-bottom: 0px;}
section#how-it-works-cont .row.order { margin-top:90px; margin-bottom: 0px;}
section#how-it-works-cont .row.order div { height: 100%; }
section#how-it-works-cont .row.order img { width:75px; margin:40px auto 10px; }
section#how-it-works-cont .zone  { width:100% !important;  margin:0 auto; position: relative; display: none; }
section#how-it-works-cont .row div.order .zone img { display:block; width: 100%; }

section img { width:100vw; max-width:100%; margin:0; padding:0; }


.Monday-pkp,
.Tuesday-pkp,
.Wednesday-pkp,
.Thursday-pkp,
.Friday-pkp,
.Saturday-pkp,
.Monday-del,
.Tuesday-del,
.Wednesday-del,
.Thursday-del,
.Friday-del,
.Saturday-del { display:none; }

section#coverage-map,
section#the-process { padding:80px 0 0; z-index: 999; position: relative; background: #ffffff; }
section#coverage-map img,
section#the-process img { margin-top:80px; }
section#the-process #fader { width:100%; height:50vw;  position: relative; overflow: hidden; margin-top:80px;}
@media screen and (max-width: 1024px) {
    section#the-process #fader {     min-height: none; height:auto;  position: relative; overflow: hidden;}
}
section#the-process #fader img { position: absolute; left: 0; bottom:0;}

section#who-we-are,
section#pricing { color:#fff; padding:80px 0; }
section#pricing h4,
section#who-we-are h4 { color:#fff; }
section#who-we-are { padding: 80px 160px;}

section .box { padding: 0 20px;  margin-bottom: 40px;}
section#who-we-are .box { padding: 0 40px;}


/*section#pricing {overflow-y: hidden; }*/
section#pricing .box{ height:auto; min-height: none; padding:0; margin:0; }
section#pricing .inner{ height:auto; min-height: 80px; text-align: left; padding: 0; margin:10px; }
section#pricing .inner .items { color:#3F5755; display: none; width:100%; position: relative; z-index:99999;}
section#pricing .service { background: #6D968E;
min-height: 80px;
padding: 23px 0 0 10px; }
section#pricing .service.active .plus { transform: rotate(45deg); }
section#pricing .items { background: #fff; padding: 20px 10px; }
section#pricing .items p {  }
section#pricing  p.note { margin-top:15px; color:#A4CEC2;  }
section#pricing .items p span { display: block; float: right; }
section#pricing .service h2 { display:inline-block; margin:0; font-size: 1.5em;
padding:0;
vertical-align: middle ;}
section#pricing .service .plus {width: 30px;
    transition: all 500ms ease;
display: inline-block;
position: relative;
margin: 0;
vertical-align: middle; }
section#pricing .service .serviceicon { height:80px; display:inline-block; position: relative; margin:0; float:right; margin-top:-23px; position: absolute;
right:0; z-index:9; }
section .box .inner { padding:20px; min-height: 400px; text-align: center; position: relative; margin:0; float:none; }
section#coverage-map .coverage .box h4 { color:#fff;  }
section#coverage-map .box .inner { background:#A4CEC2; min-height: 200px !important; }
section#coverage-map .coverage { padding:80px 0; display:none;}
section#coverage-map .coverage h1 { margin-bottom: 40px; }
section .box img { width:auto; max-height:150px; max-width: calc(100% + 40px) !important; margin:20px -20px; }

footer { position: relative; padding: 80px 160px; z-index: 999; }
footer a { color:#fff;}
footer .row div { border-right: 2px solid #fff; padding:0 40px;}
footer .row div:first-child { border-right: 0; padding-left:0; }
footer .row div:last-child { border-right: 0;}
footer h4, footer h5 {color:#fff; }
footer img { width:calc(100% - 40px); }
footer .socials img { width:30px; display: inline-block; margin-right: 10px; margin-top:5px; }
.bg { position: fixed; top:0; right:0; bottom:0; left:0; background-size: cover; background-attachment: fixed; background-repeat:no-repeat; background-position: center center; opacity:0.6; z-index: 0;}


section#how-it-works-cont .row div.box:nth-child(5) .inner, .lighter { background:#A4CEC2 !important;}
section#how-it-works-cont .row div.box:nth-child(4) .inner,.light { background:#7DABA2 !important;}
section#how-it-works-cont .row div.box:nth-child(3) .inner,.dark { background:#6D968E !important;}
section#how-it-works-cont .row div.box:nth-child(2) .inner,.darker { background:#537670 !important; }


/* TRANSITIONS */
button,
header nav ul li { transition: all 250ms ease; }

    .desktop { display:block;}
    .mobile { display:none;}

@media screen and (max-width:1200px) {
    header nav ul li { margin-right:15px;}
}

@media screen and (max-width:991px) {
    header { text-align: right;}

    header .row div.rght { padding-left:0;height:auto !important;
padding:0;
right:15px;
position: absolute ;
top:45px; }
    section .box { padding: 10px;  margin-bottom: 40px;}
    section#how-it-works-cont .row {  padding:40px 40px; }
    footer img { width:160px;}
    footer .row div { border-bottom: 2px solid #fff; border-right: 0; padding:40px 0px; text-align: center;}
footer .row div:first-child { border: 0; padding-left:0; }
footer .row div:last-child { border: 0;}
}
@media screen and (max-width: 768px) {
    h1 { font-size:2.75em;}
    input[type="text"], input[type="checkbox"], textarea { font-size:16px;}
    .desktop { display:none;}
    .mobile { display:block;}
    .mobile button { position: relative;
margin: 0 auto;
max-width: 50%;
font-size:2em;}
    .mobile header img { height:60px !important; }
    .mobile header { display: block; position: fixed; z-index:99999999; }
    .mobile nav.menu { display:none;}
    .mobile nav.menu .inner { text-align: center; position: fixed; top:60px; right:0; padding-top:120px; bottom:0; left:0; width:100%; height:100%; background:#3F5755; z-index:999999; display:block;}
    .mobile nav.menu .inner div { width:100%; margin-top:20px; }
    .mobile nav.menu .inner img {  width:30px;}
    .mobile a { color:#fff; font-size:2em;}
    .mobile a:hover { color:#A4CEC2;}
.bg { position: fixed; top:0; right:0; bottom:0; left:0; background-size: cover; background-attachment: scroll; background-repeat:no-repeat; background-position: center center; opacity:0.6; z-index: 0;}
    section#how-it-works-cont .row.order { margin-bottom: 0px;}
    footer { padding:20px;}
    button.navi,
button.howit,
#coverage-map button { position: relative; background: #3F5755; color:#fff; width:200px !important; min-width: 0 !important;  margin:20px auto; left:auto; bottom:auto; padding:20px;}
    section#how-it-works-cont .row.order { margin-top:60px; margin-bottom: 0px;}
}
.navi.sendprev,
.navi.optprev,
.navi.schdprev { background:#A4CEC2;}
.spacer { width:12.5% !important; }
.warning { border:1px solid #ffcc00;}