/*
Theme Name: Klin
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: "museo-sans", sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #3F5755;
    letter-spacing: 1px;
    background: #404040;
}
#preloader {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999999;
}
#status {
    position: fixed;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    background-image: url('assets/img/logo.gif');
    background-size: cover;
}
a {
    color: #6D968E;
}
a:hover {
    color: #3F5755;
    text-decoration: none;
}
h1,
h2,
h3,
h5 {
    font-family: "museo-sans-condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
h1 a {
    font-weight: 500;
    color: #fff;
}
h1 a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
h4 {
    font-size: 1.5em;
    font-weight: 100;
    color: #7DABA2;
}
h5{ font-size:1.5em; font-weight: 500; text-transform: uppercase;}
input, textarea  { color:#3F5755; background: rgba(255,255,255,0.85); font-weight: 500; width:100%; padding:15px; margin-bottom:10px; font-size:16px;}
textarea { height:150px;}
input::placeholder { color:#7DABA2; font-weight: 500;}
button,
.stripe-button-el,
input[type="submit"] {
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    min-width: 150px;
    max-width: 250px;
    width:auto;
    padding: 10px 20px;
    margin:5px auto;
    background: #6D968E;
    color: #fff;
}
button:hover,
input[type="submit"]:hover {
    color: #A4CEC2;
    background: #3F5755;
    cursor: pointer;
}


input[type="checkbox"] { width:auto;}
.checkbox {background:rgba(255,255,255,0.85); padding:10px 3px !important; font-size: 16px; margin-top: 10px !important; color:#3F5755;}
    .checkbox span { display: inline-block; margin-top:17px; color:#A6A6A6; }
.checkbox img {width:75px !important; display: inline-block; vertical-align: middle; float:left; margin-right: 20px;}
.checkbox label {min-height: 20px;
 padding-left: 0px; 
margin: 0;
font-weight: 400;
cursor: pointer;
width: calc(100% - 40px);}

input[type="checkbox"] {
    opacity:0;
line-height: normal;
display: inline-block;
width: 100%;
margin-left: 0 !important;
left: 0px;
top: 0;
bottom: 0;
right: 0;
height: 100% !important;

}
.container-full {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    max-width: none;
}
.login label { display:none;}
.login .rememberme label { display:block;}
.tabs_login { margin-top:10px;}
.tabs_login a,
.tabs_login div { display: inline-block; color:#3F5755;}
.login { position: fixed; top:0; right:0; bottom:0; left:0; background:rgba(63, 87, 85,0.9); display: none; z-index: 999999;}
.login h2 { margin:0 0 30px 0; }
.login p { margin:0 0 22px 0; }
.login input[type="submit"] { width:50%;}
.login-inner { position: fixed; width:400px; padding:40px; height:380px; top:50%; left:50%; margin:-200px auto auto -200px; background:rgba(164, 206, 194,0.9); text-align: center; }
.tabs_login a:hover,
.tabs_login div:hover { cursor: pointer; color:#fff; }
a.logout { position: relative; display: inline-block; width:37px; height:37px; background-image:url('assets/img/logout.png'); background-size: cover; vertical-align: middle; margin-left:10px;}
a.logout:hover { background-image: url('assets/img/logout_over.png');}
.sticky a.logout { background-image:url('assets/img/logout_over.png');}
.sticky a.logout:hover { background-image: url('assets/img/logout.png');}
.row {
    position: relative;
    padding: 0;
    margin: 0;
}
.row div {
    padding: 0;
    margin: 0;
}
iframe {
    width: 100%;
    height: 400px;
}

header {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 99999;
    top: 0;
    font-weight: 500;
}
header .row div {
    padding: 30px 40px;
}
.mobile header .row div {
    padding: 10px 10px;
}
header .row div.lft {
    padding-right: 0;
}
header .row div.rght {
    padding-left: 0;
}
header img {
    height: 80px;
    float: left;
    margin-right: 30px;
}
header nav {
    padding: 30px 0 0;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
}
header nav a {
    color: #3F5755;
    font-weight: 500;
    letter-spacing: 1px;
}
header nav a:hover {
    color: #6D968E;
    cursor: pointer;
    text-decoration: none;
}
header nav.contact {
    position: absolute;
/*    background: #ffcc00;*/
    padding: 0;
    width:100%;
    right:40px;    
    top:45px;
    text-align: right;
    text-align: right;
}
header nav.contact button {
    margin-left:10px;
}
header nav.contact ul {
    margin: 30px 0 0 0;
    padding: 0;
}
header nav.contact ul li {
    margin: 0 0 0 0px;
}
header.sticky,
.mobile header {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    border-bottom: 1px solid rgba(125, 171, 162, 0.25);
}
header.sticky nav {
    padding: 17px 0 0;
}
header nav.menu div,
header.sticky nav.menu div {
    padding: 0 0 0 0;
    margin: 0;
}
.mobile header .menu-btn {
    margin-top: 10px;
}
header.sticky img,
.mobile header img {
    height: 50px;
    float: left;
}
header.sticky .row div {
    padding: 20px;
}

header.sticky nav.contact {
    margin-top: -32px !important;
}

section ul {
    width: 350px;
    border-top: 2px solid #fff;
    margin: 0 auto;
    list-style: none;
    margin-top: 40px;
    padding-top: 40px;
}
section li {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 5px;
}
section li div {
    width: 200px;
    display: inline-block;
    text-align: left;
}
section li div.right {
    width: 100px;
    display: inline-block;
    text-align: right;
}
section {
    z-index: 999;
    position: relative;
}
section#intro {
    width: 100%;
    padding-top: 120px;
    color: #fff;
}
section#intro h1 { margin-bottom: 0; }
section#intro .timeline { width:75%; height:60px; padding:0 20px; margin:0 auto 20px; position: relative; }
section#intro .timeline .line { height:2px; background:#A4CEC2; padding:0px !important; position: absolute; display:block; left:20px; right:20px; top:19px; bottom:19px;}
section#intro .timeline .dots { position: absolute;
top: 13px;
bottom: 0;
padding: 0 !important;
width: 14px !important;
height: 14px !important;
border-radius: 14px;
background: #A4CEC2; }
.back {background: #3F5755 !important; }
.next {background: #A4CEC2 !important; }
section#intro .timeline .dots.one { left:calc(0 + 20px); }
section#intro .timeline .dots.two { left:calc(50% - 7px); }
section#intro .timeline .dots.three { left:calc(100% - 32px); }
section#intro .timeline .steps { font-weight: 500; color:#A4CEC2; position: absolute; width:200px; margin-top:30px; margin-left:-100px; padding:0 !important; text-transform: uppercase; }
section#intro .timeline .dots.act { background:#fff;}
section#intro .timeline .steps.act { color:#fff;}
section#intro .timeline .steps.two { left:calc(50% - 0px); }
section#intro .timeline .steps.three { left:calc(100% - 20px); }
section#intro img {
 width:75px;   
}
section#intro h1 img { width:50px; }
section#intro .box .inner img { width:100% !important;} 

section#intro .row {
    width: 100% !important;
    padding: 40px 60px;
}
.options, .checkout { display:none; }
section#intro .row .order div,
section#intro .row .options div,
section#intro .row .checkout div { text-align: center; padding:20px; }
.zone div,
.zone { padding:0px !important;}
.zone .checkbox { padding:20px !important; padding: 5px !important;
opacity: 0.85; }
section#intro button,
section#coverage-map button,
section#intro input[type="submit"] {
    background: #A4CEC2; color:#fff; font-size: 2em; font-weight: 100;
    margin:20px auto;
}
section#coverage-map button { font-size: 16px; margin:40px auto;  }
.message p,

section#intro p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2em;
}
.navi.sched {
    display: none;
}
section#intro .details {
    display: none;
}
section#intro .details p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1em;
}
section#intro #result {
    margin-top: 10px;
}
section#intro a {
    color: #fff;
}
section#intro a:hover {
    color: #fff;
    text-decoration: underline;
}
section img {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
section#coverage-map,
section#the-process {
    padding: 80px 0 0;
    z-index: 999;
    position: relative;
    background: #ffffff;
}
section#coverage-map img,
section#the-process img {
    margin-top: 80px;
}
section#the-process #fader {
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}
@media screen and (max-width: 1024px) {
    section#the-process #fader {
        min-height: none;
        height: auto;
        position: relative;
        overflow: hidden;
    }
}
section#the-process #fader img {
    position: absolute;
    left: 0;
    bottom: 0;
}
section#who-we-are,
section#pricing {
    color: #fff;
    padding: 80px 0;
}
section#pricing h4,
section#who-we-are h4 {
    color: #fff;
}
section#who-we-are {
    padding: 80px 160px;
}
section .box {
    padding: 0 20px;
    margin: 40px auto;
}
section .box img { width:100%;}
section#who-we-are .box {
    padding: 0 40px;
}
.border { background:#A4CEC2;}
/*section#pricing {overflow-y: hidden; }*/

section#pricing .box {
    height: auto;
    min-height: none;
    padding: 0;
    margin: 0;
}
section#pricing .inner {
    height: auto;
    min-height: 80px;
    text-align: left;
    padding: 0;
    margin: 10px;
}
section#pricing .inner .items {
    color: #3F5755;
    display: none;
    width: 100%;
    position: relative;
    z-index: 99999;
}
section#pricing .service {
    background: #6D968E;
    min-height: 80px;
    padding: 23px 0 0 10px;
}
section#pricing .service.active .plus {
    transform: rotate(45deg);
}
section#pricing .items {
    background: #fff;
    padding: 20px 10px;
}
section#pricing .items p {}
section#pricing p.note {
    margin-top: 15px;
    color: #A4CEC2;
}
section#pricing .items p span {
    display: block;
    float: right;
}
section#pricing .service h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    padding: 0;
    vertical-align: middle;
}
section#pricing .service .plus {
    width: 30px;
    transition: all 500ms ease;
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: middle;
}
section#pricing .service .serviceicon {
    height: 80px;
    display: inline-block;
    position: relative;
    margin: 0;
    float: right;
    margin-top: -23px;
    position: absolute;
    right: 0;
    z-index: 9;
}
section .box .inner {
    padding: 20px;
    min-height: 400px;
    text-align: center;
    position: relative;
    margin: 0;
    float: none;
}

section#edit-profile h3 {
 margin-bottom:30px;   
}
section#edit-profile a {
    color:#3F5755;
}
section#edit-profile .row {
    padding-bottom: 40px !important; 
    color:#3F5755;
     background: rgba(255,255,255,0.7);   
}
section#edit-profile .row div div {
    padding-bottom: 0px !important; 
     background: transparent;   
    width:100%;
    margin:0 auto;
} 
@media screen and (max-width:768px) {
section#edit-profile .row div div {
    width:calc(100% - 40px);
    }
    
}
section#coverage-map .coverage .box h4 {
    color: #fff;
}
section#coverage-map .box .inner {
    background: #A4CEC2;
    min-height: 200px !important;
}
section#coverage-map .coverage {
    padding: 80px 0;
    display: none;
}

section#coverage-map .coverage h1 {
    margin-bottom: 40px;
}
section .box img {
    width: auto;
    max-height: 150px;
    max-width: calc(100% + 40px) !important;
    margin: 20px -20px;
}

footer {
    position: relative;
    padding: 80px 160px;
    z-index: 999;
}
footer a {
    color: #fff;
}
footer .row div {
    border-right: 2px solid #fff;
    padding: 0 40px;
}
footer .row div:first-child {
    border-right: 0;
    padding-left: 0;
}
footer .row div:last-child {
    border-right: 0;
}
footer div.terms { padding:0 !important; margin: 15px 0;}
footer h4,
footer h5 {
    color: #fff;
}
footer img {
    width: calc(100% - 40px);
}
footer .socials img {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}
.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    z-index: 0;
}
section#intro .row div.box:nth-child(5) .inner,
.lighter {
    background: #A4CEC2 !important;
}
section#intro .row div.box:nth-child(4) .inner,
.light {
    background: #7DABA2 !important;
}
section#intro .row div.box:nth-child(3) .inner,
.dark {
    background: #6D968E !important;
}
section#intro .row div.box:nth-child(2) .inner,
.darker {
    background: #537670 !important;
}

/* TRANSITIONS */

button,
header nav ul li {
    transition: all 250ms ease;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
@media screen and (max-width:1200px) {
    header nav ul li {
        margin-right: 15px;
    }
}
@media screen and (max-width:991px) {
    header {
        text-align: right;
    }
    header .row div.rght {
        padding-left: 0;
        height: auto !important;
        padding: 0;
        right: 15px;
        position: absolute;
        top: 45px;
    }
    section .box {
        padding: 10px;
        margin-bottom: 40px;
    }
    section#intro .row {
        padding: 40px 40px;
    }
    footer img {
        width: 160px;
    }
    footer .row div {
        border-bottom: 2px solid #fff;
        border-right: 0;
        padding: 40px 0px;
        text-align: center;
    }
    footer .row div:first-child {
        border: 0;
        padding-left: 0;
    }
    footer .row div:last-child {
        border: 0;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.75em;
    }
    input[type="text"],
    input[type="checkbox"],
    textarea {
        font-size: 16px;
    }
    .desktop { 
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile button {
        position: relative;
        margin: 0 auto;
        max-width: 50%;
        font-size: 2em;
    }
    .mobile header img {
        height: 60px !important;
    }
    .mobile header {
        display: block;
        position: fixed;
        z-index: 99999999;
    }
    .mobile nav.menu {
        display: none;
    }
    .mobile nav.menu .inner {
        text-align: center;
        position: fixed;
        top: 60px;
        right: 0;
        padding-top: 120px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #3F5755;
        z-index: 999999;
        display: block;
    }
    .mobile nav.menu .inner div {
        width: 100%;
        margin-top: 20px;
    }
    .mobile nav.menu .inner img {
        width: 30px;
    }
    .mobile a {
        color: #fff;
        font-size: 2em;
    }
    .mobile a:hover {
        color: #A4CEC2;
    }
    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.6;
        z-index: 0;
    }
    footer {
        padding: 20px;
    }
}
.spacer {
    width: 12.5% !important;
}
.warning {
    border: 1px solid #ffcc00;
}

/* MAP STYLES */

.map-full {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 999999;
    padding-top: 100px;
}
.map-full .row {
    position: relative;
    padding: 80px;
}
.map-full input {
    border: 1px solid #3F5755;
    color: #3F5755;
}
.map-full .row img {
    max-width: 100%;
}
.map-full .row .box {
    padding: 40px;
}
.map-full .row .box .inner {
    padding: 20px;
    background: #A4CEC2;
}


/* ACCOUNT */
#settings-form h1,
#edit-profile h1 { margin: 40px auto 40px !important; }
.register-section {     width: calc(25% - 30px) !important;
    display: inline-block;
    vertical-align: text-top;
margin:10px 10px 0 0 !important;}
.register-section img {    width: 75px !important; max-width: 75px !important; }
.register-section legend { display:none !important; }
.error { position: absolute ;
bottom:92px;
}
#settings-form,
#profile-edit-form { width:75%; display: inline-block; }
legend { border:0; font-size:1em; font-weight: 600; margin-bottom:10px; color:#6D968E;}
.bp-required-field-label { display:none; }
.bp-required-field-label { display:none; }
#settings-form input,
#profile-edit-form input { margin-left:0; padding:10px; margin-bottom:20px; background:rgba(255,255,255,0.5); }
#template-notices p {background: #3F5755;
padding: 10px;
max-width: 250px;
margin: 0 auto;
    
text-transform: uppercase;}
#subnav { display:none;}
#item-nav ul { width: 350px;
border-top: 0;
margin: 0 auto;
list-style: none;
margin-top: 0px;
margin-bottom: 40px;
padding-top: 0px; }
#item-nav li { width:100%; background:#A4CEC2; color:#3F5755; text-transform: uppercase; font-size: 1em; padding:10px; max-width: 250px; margin: 20px 0; display:block; text-align: left; font-weight:500; transition: all 500ms ease;}
#item-nav li:hover { cursor:pointer; background:#fff; transition: all 500ms ease; }
#item-nav li a:hover { color:#3F5755; text-decoration: none;  }
#item-nav li#xprofile-personal-li { display: none !important;}
h1.profile { margin-bottom: 20px !important; }